/* TODO: Switch from px to rem */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap');

html {
  font-size: 16px; /* Establishing base font-size allows for easier rem calculations */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  background-color: rgb(16, 16, 16);
  color: rgb(255, 255, 255);
}

nav {
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: flex-start;
  font-size: 1.25rem;
  font-weight: normal;
  letter-spacing: 0.2px;
  padding: 0.6rem;
  width: 100vw;
  /* background: rgb(255 255 255 / 50%); */
  /* background: rgb(164, 186, 147); */
}

a {
  margin-right: 1.5rem;
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-weight: bold;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* paragraphs below demo gifs: */
section p {
  width: 40rem;
}

h1 {
  font-family: 'Inconsolata', monospace;
  font-size: 5rem;
  font-weight: 100;
  margin-bottom: 0;
}

h2 {
  font-family: 'Inconsolata', monospace;
  font-size: 2rem;
  font-weight: normal;
}

p {
  margin: 5px;
}

img {
  width: 40rem;
}

/* About section: */
.content p {
  width: 50rem;
}

#matchymatchy img, p {
  width: 30rem;
}

#matchymatchy a {
  text-decoration: underline;
  cursor: pointer;
}

#about {
  font-size: 1.3rem;
  padding: 0 3rem;
}

#about a, #projects h2 {
  text-decoration: underline;
  cursor: pointer;
  margin: 0px;
  font-weight: normal;
}

#about a:hover, #projects h2:hover {
  filter: brightness(75%);
}

.icon {
  font-size: 6.25rem;
  margin-right: 3rem;
  cursor: pointer;
}

.icon:hover {
  filter: brightness(75%);
}

.icon:active {
  /* make button slightly smaller on click: */
  transform: scale(0.98);
}

/* Media Query: Tablet */
@media only screen and (max-width: 1023px) {
  .icon {
    font-size: 4.7rem;
    margin-right: 3rem;
  }
}

@media only screen and (max-width: 800px) {
  .icon {
    font-size: 3rem;
    margin-right: 0.5rem;
    padding: 0.15rem;
  }
}

/* Media Query: Large Smartphone */
/* TODO: Collapse nav into side menu on resize so it's not hovering over/obscuring content */
@media screen and (max-width: 600px) {
  nav {
    z-index: 10;
    position: fixed;
    display: flex;
    align-items: center;
    font-size: 1rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1rem;
    font-weight: normal;
  }

  /* paragraphs below demo gifs: */
  section p {
    width: 30rem;
  }

  img {
    width: 30rem;
  }

  #matchymatchy img, p {
    width: 20rem;
  }
  
  #about {
    font-size: 1rem;
    padding: 0 1.5rem;
  }

  .icon {
    font-size: 3rem;
    margin-right: 1.5rem;
  }
}

/* TODO: Icons get smaller then bigger as window gets smaller. */

/* TODO: About section needs to be better optimized for mobile */