html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: monospace;
  background-color: rgb(16, 16, 16);
  color: rgb(255, 255, 255);
}

nav {
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: flex-start;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.2px;
  padding: 10px;
  width: 100vw;
  /* background: rgb(255 255 255 / 50%); */
  /* background: rgb(164, 186, 147); */
}

a {
  margin-right: 25px;
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-weight: bold;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: monospace;
  font-size: 75px;
  font-weight: 100;
  margin-bottom: 0;
}

h2 {
  font-size: 32px;
  font-weight: normal;
}

p {
  margin: 5px;
}

img {
  width: 40rem;
}

#matchymatchy img, p {
  width: 30rem;
}

#matchymatchy a {
  text-decoration: underline;
  cursor: pointer;
}

#about {
  font-size: 22px;
  padding: 0 50px;
}

#about a, #projects h2 {
  text-decoration: underline;
  cursor: pointer;
  margin: 0px;
  font-weight: normal;
}

#about a:hover, #projects h2:hover {
  filter: brightness(75%);
}

.icon {
  font-size: 100px;
  margin-right: 50px;
  cursor: pointer;
}

.icon:hover {
  filter: brightness(75%);
}

.icon:active {
  /* make button slightly smaller on click: */
  transform: scale(0.98);
}

/* Media Query: Large Smartphone */
@media screen and (max-width: 600px) {
  nav {
    z-index: 10;
    position: fixed;
    display: flex;
    align-items: center;
    font-size: 18px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 18px;
    font-weight: normal;
  }

  img {
    width: 30rem;
  }

  #matchymatchy img, p {
    width: 20rem;
  }
  
  #about {
    font-size: 16px;
    padding: 0 25px;
  }

  .icon {
    font-size: 50px;
    margin-right: 25px;
  }
}

/* Media Query: Tablet */
/* @media only screen and (max-width: 1023px) {
  .icon {
    font-size: 75px;
    margin-right: 50px;
  }
} */