html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: monospace;
  background-color: rgb(221, 231, 252);
  color: rgb(58, 59, 64);
}

nav {
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: flex-start;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.2px;
  padding: 10px;
  width: 100vw;
  background: rgb(255 255 255 / 50%);
}

a {
  margin-right: 25px;
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-weight: bold;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: monospace;
  font-size: 75px;
  font-weight: 100;
  margin-bottom: 0;
}

h2 {
  font-size: 32px;
  font-weight: normal;
}

p {
  margin: 5px;
}

#about {
  padding: 10px 200px 10px 200px;
  font-size: 22px;
  align-items: flex-start;
  justify-content: center;
}

#about a {
  text-decoration: underline;
  cursor: pointer;
  margin: 0px;
  font-weight: normal;
}

.icon {
  font-size: 100px;
  margin-right: 50px;
  cursor: pointer;
}

/* Media Query: Large Smartphone */
@media screen and (max-width: 600px) {
  nav {
    z-index: 10;
    position: fixed;
    display: flex;
    align-items: center;
    font-size: 18px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 18px;
    font-weight: normal;
  }
  
  #about {
    display: flex;
    align-items: flex-start;
    font-size: 16px;
  }

  #social-icons {
    display: grid;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2px;
  }
}